{% block content %}

<div class="modal-content radius-md">
    <div class="modal-header">
        <h5 class="modal-title" id="profileOverviewModalLabel">Profile Overview</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>

    <div class="modal-body">
        <div class="d-flex align-items-center mb-3">
            <img src="{{ mentor.image.url }}" alt="Profile Picture" class="rounded-circle" width="80" height="80">
            <div class="ms-3 d-flex flex-column justify-content-center">
                <h5 class="mb-0">{{ mentor.full_name }}</h5>
                <small class="text-muted">@{{ mentor.username }}</small>
            </div>
        </div>
        {% if mentor.bio %}
            <p class="text-muted mb-0">{{ mentor.bio }}</p>
        {% endif %}
    </div>

    <div class="modal-footer">
        <a href="" class="btn btn-primary radius-md">View Full Profile</a>
        <button type="button" class="btn btn-secondary radius-md" data-bs-dismiss="modal">Close</button>
    </div>
</div>

{% endblock content %}