{% extends 'base.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center mt-4">
    <div class="card text-center shadow-lg" style="max-width: 600px; width: 100%; border-radius: 20px !important;">
        <div class="card-body">
            <h1 class="display-1 text-danger">404</h1>
            <h5 class="card-title mb-4">Oops! Page not found</h5>
            <p class="card-text">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
            <a href="/" class="btn btn-primary radius-md">Go Back Home</a>
        </div>
    </div>
</div>
{% endblock content %}