{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block head_title %}
{{ head_title }}
{% endblock head_title %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card border-0 shadow-lg radius-md">
                <div class="position-relative">
                    <div class="d-flex justify-content-center mt-4">
                        <img src="{{ profile.image.url }}" 
                             class="rounded-circle img-fluid border border-3 border-primary shadow"
                             alt="Profile Picture"
                             style="width: 150px; height: 150px; object-fit: cover;">
                    </div>
                </div>
                
                <div class="card-body pt-5">
                    <h1 class="h4 text-center mb-4 text-primary fw-bold">
                        Edit {% if request.user.role == 'mentor' %}Mentor{% endif %} Profile
                    </h1>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% crispy form %}
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}