{% extends 'base.html' %}

{% block content %}
<div class="container text-center styled-container mt-5 card border-0 radius-md">
    <h1 class="mb-4">Create Your Account</h1>
    <p class="lead">Choose the type of account you would like to create:</p>

    <div class="row">
        <!-- User Account Button -->
        <div class="col-md-6 mb-3">
            <a href="{% url 'users:register_user' %}" class="btn btn-primary w-100 light-rose hover-grow-sm border-0 btn-custom radius-md">
                <i class="bi bi-person h1"></i>
                <h5 class="mt-2">User Account</h5>
                <p>For those looking for support and guidance.</p>
            </a>
        </div>

        <!-- Mentor Account Button -->
        <div class="col-md-6 mb-3">
            <a href="{% url 'users:register_mentor' %}" class="btn btn-success w-100 dimmed-blue hover-grow-sm border-0 btn-custom radius-md">
                <i class="bi bi-person-check h1"></i>
                <h5 class="mt-2">Mentor Account</h5>
                <p>For those ready to provide support and help others.</p>
            </a>
        </div>
    </div>

    <div class="mt-4">
        <span>Already have an account?</span>
        <a href="{% url 'users:login' %}" class="btn btn-link text-decoration-none"> Log in</a>
    </div>
</div>
{% endblock content %}