body {
    background-color: #f1d1f1;
    font-family: 'Comfortaa', cursive;
}

.radius-sm {
    border-radius: 10px !important;
}
.radius-md {
    border-radius: 20px !important;
}
.radius-lg {
    border-radius: 30px !important;
}

.hero {
    text-align: center;
    padding: 50px 20px;
}
.hero h1 {
    color: #333;
}
.hero p {
    color: #555;
    font-size: 1.2rem;
}
.btn-custom {
    padding: 12px 24px;
    font-size: 1.1rem;
}
.styled-container {
    padding: 20px 20px;
}
.styled-container .card {
    padding: 20px;
}
.testimonials {
    padding: 50px 20px;
    background-color: #e9ecef;
    text-align: center;
    padding-bottom: 20px;
}
.light-rose {
    background-color: #db8c87 !important;
}
.dimmed-blue {
    background-color: #9484b5 !important;
}
.hover-grow-sm {
    transition: transform 0.3s ease;
  }
.hover-grow-sm:hover {
    transform: scale(1.05);
}
.hover-grow-smaller {
    transition: transform 0.3s ease;
  }
.hover-grow-smaller:hover {
    transform: scale(1.01);
}
.hover-grow-md {
    transition: transform 0.3s ease;
  }
.hover-grow-md:hover {
    transform: scale(1.1);
}
.profile-pic-sm {
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.tag {
    background-color: #e0f7fa;
    color: #00796b;
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 0.9rem;
}

.gradient-pink {
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    transition: box-shadow 0.2s ease;
}

.gradient-pink:hover {
    box-shadow: 0 4px 10px rgba(255, 117, 140, 0.4);
}

.gradient-blue {
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    transition: box-shadow 0.2s ease;
}

.gradient-blue:hover {
    box-shadow: 0 4px 10px rgba(91, 134, 229, 0.4);
}

.gradient-orange {
    background: linear-gradient(135deg, #ff9a8b, #d27153);
    transition: box-shadow 0.2s ease;
}

.gradient-orange:hover {
    box-shadow: 0 4px 10px rgba(255, 154, 139, 0.4);
}

.gradient-purple {
    background: linear-gradient(135deg, #a18cd1, #fbc2eb);
    transition: box-shadow 0.2s ease;
}

.gradient-purple:hover {
    box-shadow: 0 4px 10px rgba(161, 140, 209, 0.4);
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
}   
.active a {
    background-color: #db8c87 !important;
}