<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top">
    <div class="container">
        <a class="navbar-brand fw-bold" href="/"><i class="bi bi-chat-heart h5"></i> Snugly</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-house-door"></i>
                        Home</a></li>
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-chat-dots"></i>
                        Chats</a></li>
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-person-check"></i>
                        Mentors</a></li>
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-person"></i>
                        Profile</a></li>
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-columns"></i>
                        Dashboard</a></li>
                {% endif %}
                <li class="nav-item"><a class="nav-link hover-grow-sm" href="#"><i class="bi bi-question-circle"></i>
                        Help</a></li>
            </ul>                
        </div>
    </div>
</nav>